header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    padding: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.icon-header {
    
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}