main {
    background: rgb(173, 192, 238);
    background: linear-gradient(0deg, rgba(173, 192, 238, 0.5130427170868348) 0%, rgba(195, 235, 244, 1) 95%);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}